    <header>
        <div class="logo-text"><a href="/">Hardine Club</a></div>
        <div class="header-right-container">
            <% if (locals.user) { %>
                <div><b><%= user.username %></b></div>
                <a href="/logout"><button>LOGOUT</button></a>
            <% } else {%>
                <a href="/login"><button>LOGIN</button></a>
                <a href="/register"><button>CREATE AN ACCOUNT</button></a>
            <% } %>
        </div>
    </header>