<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h1>Create New Message</h1>
    <form action="/new-message" method="POST">
        <label for="message-title">Message Title: </label>
        <input id="message-title" name="messageTitle" type="text" />
        <label for="message-content">Message: </label>
        <textarea id="message-content" name="messageContent" cols="30" rows="4"></textarea>
        <button type="submit">CREATE</button>
    </form>
</body>
</html>