<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Member</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form action="/register" method="post">
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" placeholder="Bruce" type="text" />
        <label for="lastname">Last Name</label>
        <input id="lastname" name="lastname" placeholder="Wayne" type="text" />
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="bruce.wayne" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Register</button>
    </form>
</body>
</html>