/* https://coolors.co/palette/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #EDEDE9;
    color: #3F3F3F;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #D6CCC2;
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #463f3a;
    border: none;
    min-height: 30px;
    padding: 0 20px;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: #8a817c;
}

.logo-text > a {
    font-size: 40px;
    font-family: caveat;
    text-decoration: none;
    color: inherit;
}

main {
    padding: 50px 10vw;
}

.header-right-container {
    display: flex;
    gap: 10px;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.message-card {
    display: flex;
    gap: 20px;
    min-height: 150px;
}

.info-container {
    background-color: #F5EBE0;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-icon {
    background-color: brown;
    width: 75px;
    height: 75px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;       /* The same as your div height */
}

.message-content-container {
    background-color: white;
    width: 100%;
}

.message-content-title-container {
    display: flex;
    justify-content: space-between;
    background-color: #E3D5CA;
    padding: 5px 20px;
}

.timestamp-delete-container {
    display: flex;
    gap: 20px;
}

.message-content {
    padding: 5px 20px;
}

form.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: auto;
}

footer {
    background-color: #D5BDAF;
    text-align: center;
}

.contact-footer {
    display: flex;
    gap: 20px;
    justify-content: center;
}